:host {
  display: block;
  flex: 1;
}

.indra-users-list {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    margin: 0 0 50px;
    color: black;
  }

  &-content {
    width: 100%;
    border-collapse: collapse;

    &__header {
      text-align: left;

      th {
        padding-bottom: 15px;
      }
    }

    &__body {
      td {
        padding: 10px 0;
      }
    }

    &__header tr,
    &__body tr:not(:last-of-type) {
      border-bottom: 1px solid lightblue;
    }

    &__actions {
      display: flex;
      column-gap: 20px;
      justify-content: center;
    }
  }
}
