$columns: 12;

.grid {
  display: grid;
  column-gap: 10px;

  &-cols-#{$columns} {
    grid-template-columns: repeat(#{$columns}, minmax(0, 1fr));
  }
}

@for $i from 1 through $columns {
  .col-span-#{$i} {
    grid-column: span $i / span $i;
  }
}
