@import '../../styles/grid.scss';

:host {
  --modal-height-close-button: 30px;
}

.indra-modal {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  min-width: 350px;
  min-height: 600px;

  display: flex;
  gap: 20px;
  flex-direction: column;

  &-overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.42);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;

    &--is-visible {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
    }
  }

  &-header {
    text-align: center;
    position: relative;

    &__title {
      margin: 0;
      font-size: 22px;
      line-height: var(--modal-height-close-button);
      font-weight: 700;
      color: #0039a6;
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;

      .indra-button {
        height: var(--modal-height-close-button);
        width: var(--modal-height-close-button);
        border-radius: 100%;
      }
    }
  }

  &-body {
    flex: 1;
    text-align: center;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid lightblue;
    border-radius: 10px;
    background: #fff;

    &__title {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }

    &__subtitle {
      margin: 0;
      font-size: 15px;
      font-weight: 400;
    }

    &__icon-wrapper {
      display: inline-flex;
      width: 40px;
      height: 40px;
      background: #009b3a;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      color: #fff;

      i {
        font-size: 16px !important;
      }
    }
  }

  &-table {
    background: rgba(#009b3a, 0.3);
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    flex: 1;
    padding: 15px 20px;
    text-align: left;

    &-item {
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      p {
        margin: 0;
      }

      &__title {
        font-size: 15px;
        font-weight: 700;
      }
      &__description {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &-footer {
    text-align: center;
  }
}
