:host {
  display: block;
  --color-border-input: rgba(255, 255, 255, 0.25);
  --color-value-input: rgba(255, 255, 255, 0.65);
  --color-error-input: #ff1c1c;
  --size-value-input: 1rem;
}

.form-control {
  &__wrapper {
    border: none;
    box-shadow: none;
    outline: none;
    padding: var(--size-value-input) 0;
    position: relative;
    margin: 0;

    &.is-invalid {
      .form-control__label {
        color: var(--color-error-input) !important;
      }

      .form-control__input {
        border-bottom-color: var(--color-error-input) !important;
        color: var(--color-error-input) !important;
      }
    }
  }

  &__input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid var(--color-border-input);
    font-size: var(--size-value-input);
    margin: 0;
    padding: 4px 0;
    width: 100%;
    color: var(--color-value-input);

    &:focus,
    &--on-focus {
      border-bottom: 2px solid var(--color-value-input);
    }

    &:focus,
    &--on-focus,
    &--touched {
      + .form-control__label {
        top: 0;
        transform: translateY(0);
        font-size: calc(var(--size-value-input) * 0.75);
        font-weight: 400;
        color: var(--color-value-input);
      }
    }
  }

  &__label {
    position: absolute;
    font-size: var(--size-value-input);
    color: var(--color-border-input);
    font-weight: 300;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;

    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
