:host {
  --button-border-radius: 5px;
  --button-font-size: 14px;
  --button-font-weight: 700;
}

.indra-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border: 0;
  cursor: pointer;
  border-radius: var(--button-border-radius);
  height: 40px;
  text-decoration: none;
  outline: none;
  padding: 1px 15px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  &--primary {
    background-color: #fff;
    color: #009b3a;
  }

  &--secondary {
    background-color: #0039a6;
    color: #fff;
  }

  &--error {
    background-color: #ff1c1c;
    color: #fff;
  }

  &:not(.indra-button--only-icon) {
    min-width: 150px;
  }

  &__text {
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
  }
}
