@import '../../styles/grid.scss';

:host {
  display: block;
  min-width: 400px;
  max-width: 500px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 78, 30, 0.8)), to(rgba(2, 48, 70, 0.8)));
  background: linear-gradient(90deg, rgba(0, 78, 30, 0.8), rgba(2, 48, 70, 0.8));
  border-radius: 15px;
  padding: 2rem;
  position: relative;
  transition: 0.3s ease-in;
}

:host(.indra-users-form--closed) {
  min-width: 0px;
  max-width: 0px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  opacity: 0;

  .indra-button {
    min-width: 0 !important;
    padding-right: 0;
    padding-left: 0;
  }
}

.indra-users-form {
  &__title {
    color: white;
    margin: 0 0 20px;
  }

  &__actions {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
